* {
	box-sizing: border-box;
}

.first,.second,.third {
	border: 1px solid;
	background-color: lightgrey;
	margin-left: auto;
}

h3 {
	border: 1px solid black;	
	margin: 15px;	
	margin-top: 0;
	float: right;
	border-top: 0;
	border-right: 0;
	margin-right: 0;
	padding: 15px;
	padding-top: 0;
	padding-bottom: 0;
}
p {
	margin-top: 40px;
	padding: 5px;
}

#chicken {
	background-color: pink;
}
#beef {
	background-color: red;
}

#sushi {
	background-color: yellow;
}

h1{
	text-align: center;
}
/*  Media Queries  */

@media (min-width: 992px){
	.first,.second,.third {
		width: 31.2%;
		margin-left: 20px;
		float: left;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	
	.wrapper {
		padding: 20px;
	}

	.first,.second {
		/*width: 46%;*/
		width: 45%;
		margin-left: 20px;
		float: left;
		margin-bottom: 20px;
	}

	.first {
		/*margin-left: 20px;*/

	}

	.second {
		/*margin-left: 20px;*/
	
	}

	.third {
		clear: left;
		width: 92.8%;
		margin-right: auto;
		margin-left: 18px;
	}
}

@media (max-width: 767px) {
	.first,.second,.third {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}
}